
// Variables Couleurs 
// background Color
$bgColor-main: #f1f8fc;
$bgColor-accent: #82b864;

// bouton Color
$colorBtn: #0074c7;

// Police Color
$colorText-main: #384050;

// Elements Color
$colorAccent-1: #00497c;
$colorAccent-2: #cd2c2e;

