@use '../variables' as *;

body {
    background-color: $bgColor-main;
    color: $colorText-main;
}

button {
    background-color: $colorBtn;
    color: white;

    &:hover {
        background-color: $colorAccent-1;      
    }
}

span {
    color: $colorText-main;
}